<form>

  <div class="form-group">
    <label class="font">Font</label>
    <input [value]="font.family" [(fontPicker)]="font" [fpWidth]="'320px'" [fpPosition]="'bottom'" [fpSizeSelect]="sizeSelect" [fpCancelButton]="true" [fpCancelButtonClass]="'btn btn-outline-dark'"/>
  </div>


  <!-- <div class="form-group">
    <label for="fontWeight">Font Weight</label>
    <select class="custom-select" size="3">
      <option selected>Open this select menu</option>
      <option value="Small">Small</option>
      <option value="Large">Large</option>
      <option value="Bold">Bold</option>
    </select>
  </div> -->

  <div class="form-group">
    <label class="textStyle">Text Style</label>
    <i class="material-icons">format_bold</i>
    <i class="material-icons">format_italic</i>
    <i class="material-icons">format_underlined</i>
  </div>

<br/>

  <div class="form-group">
    <label class="textColor">Text Color</label>
    <input [value] = "color" [(colorPicker)]="color" [style.background]="color" [cpCancelButton]="true" [cpCancelButtonClass]="'btn btn-outline-dark'" [cpOKButton]="true" [cpOKButtonClass]="'btn btn-outline-success'"/>
  </div>

<br/>

<br />
</form>

