<form>
  <div class="form-group">
    <label for="font">Font</label>
    <select class="custom-select" size="3">
      <option selected>Open this select menu</option>
      <option value="1">comic-sans</option>
      <option value="2">ariel</option>
      <option value="3">tahoma</option>
    </select>
  </div>
  <div class="form-group">
    <label for="fontWeight">Font Weight</label>
    <select class="custom-select" size="3">
      <option selected>Open this select menu</option>
      <option value="Small">Small</option>
      <option value="Large">Large</option>
      <option value="Bold">Bold</option>
    </select>
  </div>
  <div class="form-group">
    <label class="textStyle">Text Style</label>
    <button><i class="fas fa-bold"></i></button>
    <button><i class="fas fa-italic"></i></button>
    <button><i class="fas fa-underline"></i></button>
  </div>
  <form>
    <div class="form-group">
      <label for="font">Font</label>
      <select class="custom-select" size="3">
        <option selected>Open this select menu</option>
        <option value="1">comic-sans</option>
        <option value="2">ariel</option>
        <option value="3">tahoma</option>
      </select>
    </div>
    <div class="form-group">
      <label for="fontWeight">Font Weight</label>
      <select class="custom-select" size="3">
        <option selected>Open this select menu</option>
        <option value="Small">Small</option>
        <option value="Large">Large</option>
        <option value="Bold">Bold</option>
      </select>
    </div>

    <div class="form-group">
      <label class="textColor">Text Color</label>
      <!-- <input [value] = "color" [(colorPicker)]="color" [style.background]="color"/> -->
    </div>


    <br />
  </form>

  <button type="submit" class="btn btn-outline-success">Submit</button>
  <br />
</form>

