<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side" style="width: 500px;">
    <app-customization-form-text></app-customization-form-text>
    <button mat-raised-button color="accent" (click)="drawer.toggle()">Close</button>
  </mat-drawer>
  
  <div class="app-{{appId}}-theme" id="appRootClass">
  <mat-toolbar color="primary" class="toptoolbar">
    <mat-toolbar-row>
      <span>Click on the palette to change themes</span>
      <span class="spacer"></span>
      <mat-icon class="icon" data-toggle="modal" data-target="#exampleModal">palette</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <br/>
  <div class="mainBody">
    <h2>MY FORM</h2>
  
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
        />
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button mat-raised-button color="primary">Submit</button>
      <button mat-raised-button color="accent">Cancel</button>
      <button mat-raised-button color="warn">BACK</button>
      <br />
    </form>
    <hr />
    <a href="#">Click me to see the magic</a>
    <hr />
    <h3>Random Para</h3>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but also
      the leap into electronic typesetting, remaining essentially unchanged. It
      was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software
      like Aldus PageMaker including versions of Lorem Ipsum. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
      The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. 
    </p>
    <h4>Sample Icons</h4>
    <br/>
    <i class="material-icons">cloud</i>
    <i class="material-icons">favorite</i>
    <i class="material-icons">attachment</i>
    <i class="material-icons">computer</i>
    <i class="material-icons">traffic</i>
  </div>
</div>
</mat-drawer-container>

<div class="app-{{appId}}-theme">
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="grid">
          <ng-container *ngFor="let theme of (themes | async)">
              <label><button value='theme1' mat-menu-item (click)="switchTheme(theme.label)"><div class={{theme.icon}} id="iconClass"></div></button></label>
          </ng-container>
        </div>
      </div>
      <div class="modal-footer">
        <button mat-raised-button color="warn" data-dismiss="modal">Close</button>
        <button mat-raised-button color="accent" (click)="switchTheme('theme1')" data-dismiss="modal">Reset Defaults</button>
        <button mat-raised-button color="primary" (click)="drawer.toggle()" data-dismiss="modal">Customize</button>
      </div>
    </div>
  </div>
</div>
</div>


